Data/mr/
Data/general-movie-0.ogv
Data/general-movie-1.ogv
Data/general-movie-2.ogv
Data/general-movie-3.ogv
Data/general-movie-4.ogv
Data/general-movie-5.ogv
Data/general-movie-6.ogv
Data/general-movie-7.ogv
Data/bg_Main.ogv
Data/bg_Result.ogv
Data/#movie/
Data/#partner/
Data/#effect_particle/
Data/#gauge/
Data/#judge/
Data/#stg/
Data/#item/
Data/#button_musicselect_difficulty/
Data/#button_musicselect_start/
Data/0000
Data/res_movie_p.bin
ffmpeg.exe