Data/mr/
Data/general-movie-0.ogv
Data/general-movie-1.ogv
Data/general-movie-2.ogv
Data/general-movie-3.ogv
Data/general-movie-4.ogv
Data/general-movie-5.ogv
Data/general-movie-6.ogv
Data/general-movie-7.ogv
Data/bg_Main.ogv
Data/bg_Result.ogv
Data/#movie/
Data/#partner/
Data/#effect_particle/
Data/#gauge/
Data/#judge/
Data/#stg/
Data/#item/
Data/#button_musicselect_difficulty/
Data/#button_musicselect_start/
Data/0000/
Data/res_movie_p.bin
ffmpeg.exe
Data/#button_musicselect_option/
Data/#obj_musicselect_option/
Data/#snd/
Data/4c84d670-a0e6-ceb3-c31b-7485afea5265/
Data/10e5966a-d94b-1468-4fd2-2113166c8135/
Data/026fc9f6-e3d6-d993-076e-bbd19531207d/
Data/93d824a2-82ce-f04e-003a-bd3aee6fd8c3/
Data/756e1be9-c60a-7a3e-a45b-cf4e5a8b4df7/
Data/2303bd49-f890-e98c-a6bc-f91eb200bbd5/
Data/2598af90-4d0b-24e4-63fd-afc3ddc6038f/
Data/08476779-6854-7e4b-e36c-646c9e8cc4d6/
Data/bebd8dec-ae33-6c98-d315-cbc75e951749/
Data/cff82d02-eedd-d061-7a52-0d4f818f7e1b/
Data/fe0eef59-87fc-8afd-6eea-b9d55be41cdd/
*.pkg